<?xml version="1.0"?>
<launch>
    <include file="$(find assignment_2_2024)/launch/assignment1.launch" />
    
    <node pkg="assignment2" type="action_client.py" name="client_assignment2" output="screen" />
    <!-- <node pkg="assignment2" type="coord_service.py" name="last_goal_assignment2" output="screen" /> -->
    <node pkg="assignment2" type="coord_service.py" name="last_goal_assignment2" output="screen" />
</launch>
